html, body {
  height: 100%;
}

body {
  background: url(/resources/images/bg.jpg);
  background-size: cover;
}

.row {
  padding: 16px;
  border-radius: 12px;
  background-image: linear-gradient(#ffffff, #dbdbdb);
}