html, body {
	height: 100%;
}

body {
	min-height: 100%;
	background-color: !important;
}

.login {
	margin: auto;
	width: 60%;
}

.forgot {
	float: right;
}

.logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}